.gallery {
  display: grid;
  /* background-color: red; */
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.image {
  height: 23rem;
  width: auto;
  padding: 20px;
  cursor: pointer;
  border-radius: 2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  font-size: 3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.image:hover {
  animation: scaler 1.5s;
  animation-direction: reverse;
  /* animation-delay: 1s; */
}

@keyframes scaler {
  0% {
    height: 23rem;
  }
  100% {
    height: 22rem;
  }
}
